body {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

.navBar {
    padding: 8px 16px 0px 16px;
    height: 56px;
    justify-content: space-between;
}

.flaxRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 35px;
    width: 35px;
    color: red;

}

.menuButton {
    padding-right: 16px;
}

.noCssList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.iteamLeft {

    justify-self: left;
}

.iteamRight {
    display: flex;
    justify-content: flex-end;

}

* {
    background-color: #ffffff;

}

.header {

    font-family: sans-serif;
    color: #0E5AA7;
}

.navBarLogo {
    height: 35px;
    width: 35px;
}




.shoppingCart {
    margin-left: 16px;
}

.countryLogo {
    margin-left: 16px;
    margin-right: 16px;
}

.circleUser {
    padding-left: 16px;
    padding-right: 16px;
}

.noMargin {
    margin: 0;
    padding: 0;
}

.searchBox {
    justify-content: baseline;
    background-color: #F5F5F5;
    border-radius: 40px;

}

.stickyMobile {
    position: sticky;
    top: 0;
    margin-top: -5px;
    padding: 8px 16px 8px 16px;
    font-family: sans-serif;
    color: #0E5AA7;
}

.searchInput {
    min-width: 0;
    border: 0;
    outline: none;
    margin: 0;
    padding: 8px 20px;
    vertical-align: middle;
    width: 100%;
    background: transparent;
    font-size: 12px;
    color: #0E5AA7;
    /* height: 40px; */
    line-height: 26px;
}

.noBackground {
    background: transparent;
}

.serachIcon {
    padding-top: 4px;
    padding-right: 16px;
}

.serachCancel {
    padding-right: 16px;
}

.deliverOuterbox {
    padding: 0px 16px 8px 16px;
    justify-content: space-between;
    padding-top: 15px;
}

.deliverTextArea {
    margin-left: 16px;
}

.boldText {
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
}

.normalText {
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;

}

.mainContener {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin-top: 8px;
    font-family: Roboto, sans-serif;
    color: rgb(77, 77, 77);
}


.mainContent {
    /* display: flex; */
    flex-direction: column;
    background-color: #F5F5F5;

    padding: 10px 16px 10px 16px;

}


.mainContent div {
    background: transparent;
}

.ShopCategory {
    margin-top: 24px;
}

.categoryBox .ShopCategorybox {
    background-color: #ffffff;
    margin: 2px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}

.CategoryboxText {
    padding: 2px 6px 2px 6px;
    margin: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}

.categoryBox {
    overflow-x: scroll;
    margin-top: -3px;
}

.boxMargin {
    margin-right: 5px;

}

.categoryTitle {
    margin-bottom: 10px;

    font-size: 12px;
    white-space: nowrap;

}

.product {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    margin: 5px;
    width: calc(50% - 11px);
}

.prodctList {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6px -6px;
}

.prodctList .product .productBackground {
    background-color: #ffffff;
    width: 100%;

}

.productTop {
    padding: 20px;
}

.productImageBox {
    justify-content: center;
    height: 91px;
    width: 165px;
}

.productImage {
    height: auto;
    display: block;
    width: auto;
    max-height: 91px;
    max-width: 165px;
}

.productImageBoxLink {

    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 100%;
}

.productDesc {
    margin: 8px;
}

.productTitle {
    margin-top: 15px;
    color: rgb(0, 0, 0);

    font-weight: 600;
    overflow: hidden;
    text-decoration: none;

    font-size: 11px;
    line-height: 15px;
}

.productSubTitle {
    margin-top: 10px;
    justify-content: baseline;
    align-items: center;

}

.productSubTitleText {
    margin-left: 5px;
    margin-top: 1px;
    min-width: 0px;
    font-size: 9px;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.productPrice {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 11px;
}

.productCart {

    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    margin: 13px;
}

.productCart .productCartIcon {
    padding: 6px;
    background-color: red;
    border-radius: 10%;
}


/* Mobile hide itam  */

.navBarLogoDesktop {
    display: none;
}

.searchBoxDesktop {
    display: none;
}

.locationDeskTop {
    display: none;
}

.logindesktop {
    display: none;
}

.sideContent {
    display: none;
}



/* Desktop Mode on */

@media screen and (min-width: 900px) {


    .mobileOnly {
        display: none;
    }

    .menuButton {
        display: none;
    }

    .stickyMobile {
        display: none;
    }

    .deliverOuterbox {
        display: none;
    }

    .navBarLogo {
        margin-left: 5px;

    }

    .navBarDesktop{
        position: sticky;
        top: 0;
        padding-top: 6px;
        padding-bottom: 6px ;
    }

    .navBarLogoDesktop {
        display: block;
        width: 105px;
        height: 35px;
        margin-left: 8px;
        margin-right: 22px;
    }

    .searchBoxDesktop {
        display: flex;
        flex: 1 1 auto;
    }

    .locationDeskTop {
        display: flex;
        margin-left: 35px;
        margin-right: 30px;
    }

    .logindesktop {
        display: flex;
        margin-left: 15px;
        margin-right: 5px;
    }

    .ShopCategory {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
    }

    .categoryBox {
        overflow-x: hidden;
        margin-left: 5px;
    }

    .sideContent {
        display: flex;
        width: 35%;
        background-color: #ffffff;
        margin-top: 20px;

    }

    .mainContener {
        flex-direction: row;
        padding: 20px 50px 20px 50px;
    }

    .product {
        width: calc(25% - 12px);
    }

    .productImageBox {
        justify-content: center;
        height: 144px;
        width: 211px;
    }

    .productImage {
        max-height: 144px;
        max-width: 211px;
    }
}